<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Замовлення проїзних</title>

    <link href="~/css/libs.css" rel="stylesheet" />

    <link href="~/css/layout/layoutMain.css" rel="stylesheet" />
    <link href="~/css/login/loginMain.css" rel="stylesheet" />
    
    <script src="~/js/libs.js"></script>
    <script src="~/js/layout/layoutMain.js"></script>
</head>
<body>
    @RenderBody()    
    
    <script src="~/js/login/loginMain.js"></script>
</body>
    
</html>
