@{
    Layout = null;
}

<div class="div-wrapper full-height">
    <span class="wrapper-header">
        <span style="flex: 1; margin-right: -29px">Новини</span>        
        <button id="addNewsButton" style="visibility: hidden" onclick="newsController.addNews()">
            <i class="far fa-plus-square"></i>
        </button>
    </span>
    <div class="news-container">
        <div class="switch-button-group">
            <button class="primary-switch-button" selected-tab="true" data-tab-id="#notReadNewsTab" afterShowEvent="newsController.initListNews(false);">Непрочитані</button>
            <button class="transparent-switch-button" selected-tab="false" data-tab-id="#readNewsTab" afterShowEvent="newsController.initListNews(true);">Прочитані</button>
        </div>

        <div class="tab-content--pushed" id="newsListContent">
            <div id="notReadNewsTab"></div>
            <div id="readNewsTab" style="display: none;"></div>
        </div>       
    </div>
    
    <div id="addNewsContent" style="display: none">
        <ul class="news-list">
            <li class="news-item">
                <div class="news-item-header">
                    <input id="newsTitle" placeholder="Заголовок..."/>
                </div>
                <div class="news-item-content">
                    <textarea id="newsBody" placeholder="Пишіть тут..."></textarea>
                </div>
            </li>
        </ul>
        <div>
            <button id="cancelNewsButton" class="danger-button" onclick="newsController.cancelAddNews()">Скасувати</button>
            <button id="saveNewsButton" class="success-button" onclick="newsController.saveNews()">Зберегти</button>
        </div>            
    </div>
</div>