<div class="div-wrapper full-height">
    <span class="wrapper-header">Мої замовлення</span>
    <div class="switch-button-group">
        <button class="primary-switch-button" selected-tab="true" data-tab-id="#openedOrderListTab" afterShowEvent="ticketsOrderingController.reloadOrderTable(0);">Відкриті</button>
        <button class="transparent-switch-button" selected-tab="false" data-tab-id="#closedOrderListTab" afterShowEvent="ticketsOrderingController.reloadOrderTable(1);">Закриті</button>
    </div>
    <div id="openedOrderListTab">                    
        <div class="custom-table-wrapper">
            <table id="openedOrderList" class="custom-table" style="width: 100%">                        
            </table>
        </div>
    </div>
    <div id="closedOrderListTab" style="display: none;">
        <div class="custom-table-wrapper">
            <table id="closedOrderList" class="custom-table" style="width: 100%"></table>
        </div>
    </div>
</div>