<div class="div-wrapper full-height" style="overflow-y: auto">
    <span class="wrapper-header">Звіти на замовлення проїздних</span>
    @*<div class="switch-button-group">
        <button class="primary-switch-button" selected-tab="true" data-tab-id="#openedRequestsListTab" afterShowEvent="">Відкриті</button>
        <button class="transparent-switch-button" selected-tab="false" data-tab-id="#closedRequestsListTab" afterShowEvent="">Закриті</button>
    </div>*@
    <div id="openedReportsTab">
        <div class="custom-report-wrapper custom-table-wrapper">
        </div>
    </div>
   
</div>