<div class="div-wrapper full-height">
    <span class="wrapper-header">Заявки на замовлення проїзних</span>
    <div class="switch-button-group">
        <button class="primary-switch-button" selected-tab="true" data-tab-id="#openedRequestsListTab" afterShowEvent="proFormaRequestsController.reloadRequestsTable(0);">Відкриті</button>
        <button class="transparent-switch-button" selected-tab="false" data-tab-id="#sentRequestsListTab" afterShowEvent="proFormaRequestsController.reloadRequestsTable(2);">Замовлення</button>
        <button class="transparent-switch-button" selected-tab="false" data-tab-id="#closedRequestsListTab" afterShowEvent="proFormaRequestsController.reloadRequestsTable(1);">Закриті</button>
    </div>
    <div id="openedRequestsListTab">
        <div class="custom-table-wrapper">
            <table id="openedRequestsList" class="custom-table" style="width: 100%"></table>
        </div>
        <div class="action-button">
            <button class="success-button" id="save-changes-btn" style="visibility: hidden" onclick="proFormaRequestsController.saveChanges()">Зберегти зміни</button>
            <button class="mint-button" id="send-rep-btn" onclick="proFormaRequestsController.createReport()">Надіслати звіт</button>
        </div>
    </div>
    <div id="sentRequestsListTab" style="display: none;">
        <div class="custom-table-wrapper">
            <table id="toIssueRequestsList" class="custom-table" style="width: 100%"></table>
            <button class="success-button" id="save-issue-changes-btn" style="visibility: hidden" onclick="proFormaRequestsController.saveIssueChanges()">Зберегти зміни</button>
        </div>
    </div>
    <div id="closedRequestsListTab" style="display: none;">
        <div class="custom-table-wrapper">
            <table id="closedRequestsList" class="custom-table" style="width: 100%"></table>
        </div>
    </div>
</div>