<div class="div-wrapper full-height">
    <span class="wrapper-header">Звіти на замовлення проїздних</span>
    @*<div class="switch-button-group">
        <button class="primary-switch-button" selected-tab="true" data-tab-id="#openedRequestsListTab" afterShowEvent="">Відкриті</button>
        <button class="transparent-switch-button" selected-tab="false" data-tab-id="#closedRequestsListTab" afterShowEvent="">Закриті</button>
    </div>*@
    <div id="openedReportsTab">
        <div class="custom-report-wrapper">
            
            <div class="report-list">
                <div class="report-item">
                    <div class="report-item-header"><span class="report-item-title">Группа 1</span><span><i class="fas fa-caret-right"></i></span></div>
                    <div class="collapse-content">
                        <table>
                            <tr><th>column 1</th><th>column 2</th></tr>
                        </table>
                        <button class="mint-button">На видачу</button>
                    </div>                    
                </div>
                <div class="report-item">
                    <div class="report-item-header"><span class="report-item-title">Группа 2</span><span><i class="fas fa-caret-right"></i></span></div>
                    <div class="collapse-content">
                        <table>
                            <tr><th>column 1</th><th>column 2</th></tr>
                        </table>
                        <button class="mint-button">На видачу</button>
                    </div>
                </div>
            </div>

        </div>
        @*<div class="action-button">
            <button class="mint-button" id="send-rep-btn">На видачу</button>
        </div>*@
    </div>
   
</div>