.login {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .login-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.login .login-block .login-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  width: 130px;
  height: 130px;
  position: relative;
  top: -125px;
  color: white;
  font-size: 55px;
}

.login .login-block .login-header {
  margin-top: -95px;
}

.login .login-block .login-header h2 {
  font-weight: normal;
  font-size: 24px;
  margin: 0;
}

.login .login-block #login-form .form-item {
  margin-top: 35px;
}

.error-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 13px;
  border: 1px solid salmon;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #fff3f2;
  color: salmon;
}

.error-block #error-message {
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.error-block i:hover {
  cursor: pointer;
}

.form-content .form-footer {
  margin-top: 45px;
}

.form-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.form-header .header-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  margin-left: -21px;
  text-align: center;
}

.form-header .header-text h2 {
  font-weight: 500;
  margin: 0;
}

.sign-up-block {
  position: relative;
  width: 450px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
